/* Branding */
body > header svg,
body > footer svg {
  fill: var(--ly-brand);
  transition: fill var(--tr-duration);
}

body > header li:hover svg,
body > footer li:hover svg {
  fill: var(--accent);
}

body > header svg.sponsor,
body > footer svg.sponsor {
  fill: var(--variant);
}

body.layout-simple > aside .selected {
  color: var(--accent);
}

main > :first-child {
  margin-top: 1rem;
}

/* Disable links */
aside nav a.disabled {
  color: var(--muted);
  pointer-events: none;
}

/* Input and outputs styles */
label:has(> output) {
  width: 100%;
}

output.block {
  display: block;
  min-height: 6rem;
  white-space: pre-wrap;
  font-family: var(--ft-mono);
  font-size: 1rem;
  line-height: 1.5;
}

/* Code editors */
label:has(.editor) {
  width: 100%;
}

.editor {
  background: var(--bg-default) !important;
}