/** Example css */
main::after {
  background: linear-gradient(to right, red, blue);
  content: attr(data-content);
}

@document url("https://www.example.com/") {
  body {
    color: #ffffff;
  }
}

input:user-invalid {
  color: darkred;
}

input:nth-child(2n+1) {
  color: darkred;
}

samp {
  -debug-empty-array: 1px;
  -debug-removed: 1px;
  -debug-unimplemented: 1px;
  -__debug--debug-prefixed-invalid: 1px;
  -__debug--debug-prefixed: 1px;
}
